<div class="box-form-dialog">
    <form novalidate="" id="form" action="{{ path('funcionarioSalarioEdit', { 'pagamentoId' : pagamentoId})}}" method="post" class="cms ajaxFormTable">
    <div class="myform">
                <div>
                    <label>Acrescentar:</label>
                    <input type="text" value="0" name="valor" class="moeda zero" style="width: 41%">
                </div>
    </div>
        <div class="box-submit">
            <input type="submit" value="Enviar"/>
            <input class="close" type="button" onclick="dialogClose()" value="Fechar"/>
        </div>
    </form>
</div>

