<div class="box-form-dialog">
      <form novalidate="" class="cms ajaxFormTable" action="{{path("itemCreate", {"pedido" : pedido})}}" method="POST" >
         <div class="myform"> 
             {{form_errors(form)}}
                {% include "FnxPedidoBundle:Item:_form.html.twig" %}  
             {{form_row(form._token)}}
          </div>
          <div class="box-submit">
            <input type="submit" value="Enviar"/>
            <input class="close" type="button" onclick="dialogClose()" value="Fechar"/>
        </div>      
      </form>
</div>
